@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


:root {
  --color-primary: #4D41C0;
}

* {
    box-sizing: border-box;         
    font-family: 'Open Sans', sans-serif; /* (*) adiciona esse padrão a todos elementos HTML  */
}

html, body {
    background-color: #E8E8E8;
}

/* texto  */
a, a:hover {
  text-decoration: none;
  color: unset;
}
